<% content_for :page_title do %>
  <%= link_to Spree.t(:navigations), admin_navigations_url %> /
  <%= @navigation.name %>
<% end %>

<% content_for :page_actions do %>
  <span id="new_add_navigation" data-hook>
    <%= button_link_to "Add Sub Navigation", "javascript:;", { icon: 'add', :'data-target' => "tbody#navigations", class: 'btn-success spree_add_fields' } %>
  </span>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages',
  locals: { target: @navigation } %>

<%= form_for [:admin, @navigation] do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name , class: "form-control" %>
        </div>

        <table class="table table-condensed table-bordered sortable" data-hook
        data-sortable-link="<%= update_positions_admin_navigations_url %>">
          <thead data-hook="option_header">
            <tr>
              <th colspan="2"><%= Spree.t(:name) %></th>
              <th>Link</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody id="navigations">
            <%= f.fields_for :sub_navigations do |form|%>
              <% if @navigation.sub_navigations.present? %>
                <% @navigation.sub_navigations.each do |navi| %>
                  <% form.object = navi %>
                  <%= render partial: 'sub_navigation_fields',
                    locals: { form: form, navigation: navi } %>
                <% end %>
              <% else %>
                <% form.object = navigation_new %>
                <%= render partial: 'sub_navigation_fields',
                  locals: { form: form, navigation: navigation_new } %>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <div class="form-group">
          <%= f.label :banner %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
      </div>
      <div class="cold-md-6">
        <div class="col-md-6 form-group">
          <%= f.label :link_navigation %>
          <%= f.text_field :link_navigation, class: "form-control" %>
        </div>

        <div class="col-md-6 form-group">
          <%= f.label :link_banner %>
          <%= f.text_field :link_image, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :taxonomies %>
        <%= f.select :taxonomy_ids, options_for_select(@taxonomies.collect{|taxonomy| [taxonomy.name, taxonomy.id]}, selected: @navigation.taxonomy_ids.split(',')), {}, multiple: true, class: "form-control" %>
      </div>
    </div>
    <% if current_page?(action: "edit") %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    <% else %>
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    <% end %>
  </fieldset>
<% end %>

<%= render partial: 'spree/admin/navigations/js' %>
