<% content_for :page_title do %>
  <%= Spree.t(:mails) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to 'New Send Mails', new_object_url,
    { class: "btn-success", icon: 'add', id: 'admin_new_mail' } %>
<% end if can?(:create, Spree::Mail) %>

<% if @mails.any? %>
  <table class="table sortable" id="listing_mails">
    <thead>
      <tr data-hook="option_header">
        <th class="no-border"></th>
        <th><%= "Type Email" %></th>
        <th><%= "Date time" %></th>
        <th></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @mails.each do |mail| %>
        <tr class="spree_mail <%= cycle('odd', 'even')%>" id="<%= spree_dom_id mail %>" data-hook="option_row">
          <td class="move-handle text-center">
            <span class="icon icon-move handle"></span>
          </td>
          <td><%= mail.spree_magazine.title %></td>
          <td><%= mail.date_time %></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit(mail, class: 'admin_edit_mail', no_text: true) %>
            <%= link_to_delete(mail, no_text: true) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Mail)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>
