<div data-hook="admin_special_product_type_form_fields" class="row">
  <div class="col-md-12">
    <div data-hook="name" class="form-group">
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div data-hook="title" class="form-group">
      <%= f.label :title, Spree.t(:title) %> <span class="required">*</span>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div data-hook="description" class="form-group">
      <%= f.label :description, Spree.t(:description) %> <span class="required">*</span>
      <%= f.text_area :description, rows: 4, class: 'form-control' %>
    </div>

    <div data-hook="applies_to" class="form-group">
      <%= f.label :applies_to, Spree.t(:applies_to) %> <span class="required">*</span>
      <%= f.text_field :applies_to, value: f.object.nil? ? 'Spree::Product' : f.object.applies_to, class: 'form-control' %>
    </div>
  </div>
</div>
