<%= render partial: 'spree/shared/sidebar' %>

<div class="col-sm-9">
  <div class="my-account-accordion">
    <div class="panel-group" id="accordion" role="tablist"
      aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <i class="fa fa-list-ol"></i>
            Order history and details
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <div data-hook="account_my_orders" class="account-my-orders">
                  <% if @orders.present? %>
                    <table class="table table-striped order-summary">
                      <thead class="active">
                      <tr>
                        <th class="order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
                        <th class="order-date"><%= Spree.t(:date) %></th>
                        <th class="order-status"><%= Spree.t(:status) %></th>
                        <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
                        <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
                        <th class="order-total"><%= Spree.t(:total) %></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @orders.each do |order| %>
                        <tr>
                          <td class="order-number"><%= link_to order.number, order_url(order) %></td>
                          <td class="order-date"><%= l order.completed_at.to_date %></td>
                          <td class="order-status"><%= order.state %></td>
                          <td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
                          <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
                          <td class="lead text-primary order-total"><%= order.display_total %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  <% else %>
                    <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
                  <% end %>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fa fa-building-o"></i>
            My addresses
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="my-address">
                  <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
                    <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                    <br >
                    <%= render partial: 'addresses_form', locals: {f: f} %>
                    <p>
                      <%= f.submit Spree.t(:update), :class => 'button',style: "margin-top:10px;" %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
