<!-- footer top area start -->
<div class="footer-top-area">
    <div class="container">
        <div class="row">
          <%= render partial: 'spree/shared/footer/contact' %>
          <%= render partial: 'spree/shared/footer/tweets' %>
          <%= render partial: 'spree/shared/footer/support' %>
          <%= render partial: 'spree/shared/footer/information' %>
        </div>
    </div>
</div>
<!-- footer top area end -->
<!-- footer area start -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="footer-copyright">
                    <p>Copyright &copy; 2016 <a href="#"> Bootexperts</a>. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="payment-icon">
                    <%= image_tag 'payment.png' %>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>
</footer>
<!-- footer area end -->

<div class="notify-add-cart">
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <i class="fa fa-check" aria-hidden="true"></i> Add to cart successful
    </div>
</div>
