<!-- blog area start -->
<div class="blog-area home2">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="blog-heading">
                  <h2>From <strong> The Blog</strong></h2>
              </div>
          </div>
      </div>
      <div class="row">
        <% list_blogs.all.each do |blog| %>
          <div class="col-sm-6">
              <div class="single-home2-blog-post">
                  <div class="blog-img">
                      <%= link_to blog_path(blog) do %>
                          <%= image_tag blog.image.url(:large) %>
                      <% end %>
                  </div>
                  <div class="blog-content">
                      <%= link_to blog_path(blog), class: "blog-title" do %>
                        <%= blog.title %>
                      <% end %>
                      <p><%= truncate(blog.body, length: 150, escape: false) %></p>
                      <%= link_to blog_path(blog), class: "readmore" do %>
                        read more >
                      <% end %>
                  </div>
              </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
<!-- blog area end -->
